.navbar{
    padding-right: 5%;
    padding-left: 5%;
    padding: 0;
}
.btn2{
    background-color: rgb(39, 211, 82); 
    color: white; 
    border: none;
    border-radius: 8px;
}
#btng{
    background-color: rgb(28, 181, 28);
    border: none;
    color: white;
}
#btnt{
    background-color: transparent;
    border-color: white;
    color: white;
}
#concepto{
    padding-top: 25vh;
    padding-bottom: 15%;
    max-width: 600px;
}
#section3{
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.container.oradores{
    margin-top: 2%;
    text-align: center;
}
.card{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    padding: auto;
}
.btn2{
    background-color: transparent;
    border-style: ridge;
    border-width: 1px;
}
.div2 {
    color: aliceblue;
    width: auto;
    height: 100vh;  
    background-image:url(../img/ba1.jpg);
    background-color: rgb(68, 63, 63);
    background-blend-mode: soft-light;   
}
#btnsub{
    background-color: rgba(17, 208, 17, 0.923);
    border-radius: 8px;
    border: none;
    padding: 5px;
    color: white;
}
#forms{
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
}
#footer{
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    color: white; 
}
